
<div class="row">
  <div class="col-md-10">
    <div class="panel panel-default">

      <div class="panel-heading">Import CSV</div>

      <div class="panel-body">
      	<%= form_tag people_import_path, multipart: true do %>
      	<%= file_field_tag :file %>
      	<br><br>
      	<%= submit_tag "Import CSV" %>
      	<% end %>

       </div>

    </div>
  </div>
</div>
